#platform {
    background-color: black;
    height: 20px;
    position: relative;
    width: 40px;
}

body {
    background: white;
}

Canvas {
    background: rgb(235, 67, 67);
    margin: 20px;
}

.block-unit {
    background-color: orange;
}